#control{
    position:fixed;
    height:120px;
    width:150px;
    bottom:-95px;
    left:45%;
    z-index:100000;
}

.buttons{
    width:100%;
}

#display{
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    
}

#background{
    display:100%;
    position:relative;
    height:300px;
}

#bgtitle{
    position:absolute;
    left:10%;
    top:10%;
    text-decoration:underline;
    text-decoration-color: grey;
    font-size:x-large;
}

#bgdescription{
    position:absolute;
    left:10%;
    top:20%;
    font-size:large;
}